/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;

@layer utilities {
  * {
    @apply tracking-tight;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Use Tailwind's @apply directive to extract 
    repeated utility patterns into custom CSS classes 
    just by copying and pasting the list of class names.
    Can only apply tailwind classes.
    */

  .disabled {
    @apply pointer-events-none select-none opacity-75;
  }

  /* VImg */
  .img-loader-spinner {
    @apply flex h-full items-center justify-center;
  }

  /* VImg */
  .colored-border-avatar {
    @apply border-4 from-pink-500 via-red-500 to-yellow-500;
  }

  .mobile-stores-buttons {
    @apply inline-flex w-full cursor-pointer items-center justify-center rounded-lg bg-gray-800 px-4 py-2.5 text-white transition-all duration-200 hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-300 active:translate-y-[1.2px] sm:w-auto dark:bg-[#252b33] dark:hover:bg-gray-600 dark:focus:ring-gray-700;
  }

  .active-push-down {
    @apply cursor-pointer duration-500 active:translate-y-[1.2px] active:duration-500;
  }

  .active-push-down-no-shadow {
    @apply cursor-pointer transition-all duration-500 active:translate-y-[1.2px] active:duration-500;
  }

  .gradient-home-title {
    @apply bg-gradient-to-r 
    from-violet-500 
    via-purple-400 
    to-violet-500 
    bg-clip-text
    text-4xl 
    font-black 
    text-transparent 
    sm:text-6xl
    dark:from-indigo-200 
    dark:via-purple-200 
    dark:to-indigo-200;
  }
}
